/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-dark-gray: #4d4d4d;
  --color-gray: #616161;
  --color-light-gray: #7c7979;
  --color-blue: #80deea;
  --color-dark-blue: #4bacb8;
  --color-light-blue: #b4ffff;
  --color-bright-blue: #e0f7fa;
  --color-light-white: #f0f0f0;

  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-small-medium: 22px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

 /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animationn */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}
a {
  text-decoration: none;
  
  color: var(--color-white);
}
ul {
  list-style: none;
  padding-left: 0;
}
span {
  font-size: var(--font-small);
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Navebar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-black);
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}
.navbar__menu {
  display: flex;
  padding: 0px 10px;
}
.navbar__logo {
  margin: 20px;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar__logo a {
  color: var(--color-black);
  transition: all var(--animation-duration) ease-in-out;
}
.navbar__logo a.navbar--dark {
  color: var(--color-white);
}
.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}
.navbar__menu__item.active {
  border: 1px solid var(--color-black);
}
.navbar__menu__item:hover {
  color: black;
  background-color: var(--color-blue);
}

.navbar__toggle-btn {
  position: absolute;
  right: 32px;
  font-size: 24px;
  top: 20px;
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  background: url("image/Home_BG.jpg") center/cover no-repeat;
  padding: 40px;
  padding-top: 40px;
  text-align: center;
}
.home__container {
  padding-top: 40px;

}
.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}
.home__title,
.home__description {
  color: var(--color-black);
}
.home__contact {
  color: var(--color-black);
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-black);
  border-radius: var(--size-border-radius);
  transition: all var(calc(--animation-duration/2)) ease-in;
}
.home__contact:hover {
  background-color: var(--color-white);
}


/* Section */
.section {
  padding: 16px;
  text-align: center;
  margin: auto;
  padding-top: 80px;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-evenly;
  margin: 80px 0;
}
.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  margin: auto;
  border: 1px solid var(--color-dark-blue);
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  border-radius: 50%;
  margin-bottom: 16px;
}


.major__title,
.major__description {
  color: var(--color-dark-gray);
}
.major__title {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  margin-bottom: 8px;
}
.major__description {
  font-size: var(--font-small);
}
.major__icon:hover {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
  transform: rotate(-30deg);
  transition: all var(--animation-duration) ease;
}

.about__jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.job {
  display: flex;
  align-items: center;
  width: 350px;
  margin: 0px 10px 10px 10px;
}
.job__description {
  margin: 10px 16px;
  text-align: left;
}
.job__name {
  color: var(--color-black);
}
.job__period {
  color: var(--color-light-gray);
}
.job__icon {
  width: 60%;
}
.job__name {
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
}
.job__period {
  font-size: var(--font-micro);
}

/* Skills */

#skills {
  background-color: var(--color-bright-blue);
}

.skillset {
  display: flex;
  background-color: var(--color-light-gray);
  color: var(--color-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
}
.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-gray);
  padding: 20px 40px;
}

.skill_description {
  display: flex;
  justify-content: space-between;
}
.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-gray);
}
.skill {
  margin-bottom: 32px;
}
.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
}

.tools,
.etc {
  padding: 20px;
  color: var(--color-white);
}
.tools_title,
.etc_title {
  color: var(--color-white);
}

.tools {
  background-color: var(--color-gray);
}
.tools_title {
  margin: 0 0;
}

/* Work */

.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-gray);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  margin: 2px;
  position: relative;
}

.category__btn.selected {
  border-color: var(--color-dark-blue);
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}
.category__btn:hover {
  border-color: var(--color-blue);
  background-color: var(--color-blue);
  color: var(--color-white);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 6px;
}

.category__count {
  background-color: var(--color-bright-blue);
  border-radius: 50%;
  font-size: var(--font-micro);
  color: var(--color-black);
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  position: absolute;
  top: -10px;
  right: 10px;
  opacity: 0;
  transition: all var(--animation-duration);
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out ;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.99) translateY(5px);
}

.project {
  width: 250px;
  height: 200px;
  margin: 2px;
  background-color: var(--color-light-white);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

.project__description {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  transform: translateY(0px);
  opacity: 0.8;
}

.project__description h3 {
  font-size: var(--font-small-medium);
  color: var(--color-orange);
}
.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 70px;
  height: 1px;
  transform: translateX(-50%);
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: var(--color-white);
}

/* Testimonial */
#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 20px 0;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 20px;
}
.testimonial__avatar:nth-child(even) {
  margin-left: 20px;
}

.testimonial__speech-bubble {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.testimonial__speech-bubble p {
  color: var(--color--gray);
}

.testimonial__speech-bubble a {
  color: var(--color-dark-blue);
}

.testimonial__speech-bubble p.name {
  font-size: var(--font-micro);
}

/* Contact */

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-blue);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0 16px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
  transition: all var(calc(5 * --animation-duration)) ease-in;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-dark-blue);
}

.contact__rights {
  margin: 0 0 24px 0;
}

/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  font-size: 35px;
  color: var(--color-white);
  background-color: var(--color-dark-blue);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}

.arrow-up.visible {
  pointer-events: auto;
  opacity: 1;
}

/* For below 768px screen width (difference between normal size */
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
    top: 22px;
    right: 26px;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-dark-blue);
    color: var(--color-white);  
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .navbar__logo a {
    color: var(--color-white);
  }

  .about__majors {
    flex-direction: column;
  }

  .major {
    margin: 24px;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }

  .category__btn {
    width: 100%;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
  }

  .testimonial__avatar {
    width: 120px;
    height: 120px;
  }
  
  .testimonial__speech-bubble {
    order: 1;
  }

  .testimonial__avatar:nth-child(odd), 
  .testimonial__avatar:nth-child(even) {
    margin: 20px 0px 20px 0px;
  }
  
  .arrow-up {
    bottom: 16px;
    right: 16px;
  }
}
